---
title: My app
language: en
---
{{#extend "base"}}
  {{#content "main"}}
    <div class="hero-unit">
      <h1>{{i18n "hello"}}</h1>
      <p>You now have</p>
      <ul>
        <li>Handlebars</li>
        <li>Sass</li>
        <li>jQuery</li>
      </ul>
    </div>
  {{/content}}
{{/extend}}
